/*Trabalho*/

#apply-area{
    height: 500px;
    border-radius: 30px;
    margin: 70px;
    box-shadow: 8px 22px 30px -4px rgba(0, 0, 0, 0.24);
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 20px;
}


#company-img {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-image: url(../img/sobreNos/empresa.jpg);
    background-size: cover;
    height: 100%;
}

#patern-img h4 , #patern-img p{
    color: rgb(255, 255, 255);
}

#patern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#patern-img p {
    margin-bottom: 20px;
}

#apply-btn{
    color: antiquewhite;
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: white;
}

#apply-btn:hover {
    border-color: rgb(255, 255, 255);
}

#apply-area{
    background-color: rgba(0, 0, 0, 0.658);
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Cards*/

.main-title {
   margin: 30px 0 90px 0;
   font-size: 30px;
   text-align: center;
}


/*botao*/

.main-btn {
   background-color: rgb(200, 200, 236);
   color: black;
   text-transform: uppercase;
   width: 120px;
   height: 50px;
   padding: 5px 15px;
   border-radius: 30px;
   border: 3px solid transparent;
   transition: .5s;
}

.main-btn:hover {
   text-decoration: none;
   color: black;
   background-color: transparent;
   border-color:  rgb(200, 200, 236);
}

#apply-btn{
   color: antiquewhite;
   display: block;
   height: auto;
   width: 180px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   background-color: transparent;
   border-color: rgb(8, 8, 8);
}

#apply-btn:hover {
   border-color: rgb(248, 172, 172);
}

#contact-form {
    margin-top: 30px;
    padding: 50px;
}

#contact-form input[type = "text"],#contact-form input[type = "password"] {
    margin-bottom: 15px;
    border-radius: 20px;
}

