.icon {
    text-decoration: none;
    color: black;
}

.icon i {
    font-size: 24px;
}

.icon i:hover {
    color:#0c7e7e;
}

.main-btn3{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    border: 0px solid transparent;
    transition: .5s;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(to right, #00272d, #0c7e7e) ;
    border-radius: 30px;
    text-transform: uppercase;
}


#btn-registro{
    margin-left: 10Vw;
}


#apply-area{
    height: 500px;
    border-radius: 30px;
    margin: 70px;
    box-shadow: 8px 22px 30px -4px rgba(0, 0, 0, 0.24);
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 20px;
}


#company-img {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-image: url(../img/sobreNos/empresa.jpg);
    background-size: cover;
    height: 100%;
}

#patern-img h4 , #patern-img p{
    color: rgb(0, 0, 0);
}

#patern-img h4 {
    font-size: 65px;
    margin-top: 8%;
    margin-bottom: 20px;
}

#patern-img p {
    margin-bottom: 20px;
}

#apply-area{
    background-color:  #bfac8b;
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Cards*/

.main-title {
   margin: 30px 0 90px 0;
   font-size: 30px;
   text-align: center;
}


/*botao*/

.main-btn {
   background-color: rgb(200, 200, 236);
   color: black;
   width: 120px;
   height: 50px;
   padding: 5px 15px;
   border-radius: 30px;
   border: 3px solid transparent;
   transition: .5s;
   cursor: pointer;
}

.main-btn:hover {
   text-decoration: none;
   color: black;
   background-color: transparent;
   border-color:  rgb(200, 200, 236);
}

#apply-btn{
   color: rgb(255, 255, 255);
   display: block;
   height: auto;
   width: 180px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   transition: .2s;
   background:#00272d;
}

#apply-btn:hover {
   border-color: #bfac8b;
}

#contact-form {
    margin-top: 2px;
    padding: 40px;
}

#contact-form input[type = "text"],#contact-form input[type = "password"] {
    margin-bottom: 15px;
    border-radius: 20px;
}

