/* GERAIS */

body{
   font-family: 'Roboto', sans-serif;
}

.row {
   margin: 0;
}

.container {
   padding: 70px 0;
}

p, li {
   color: grey;
   font-size: 14px;
}

/* Barra de navegação*/

header, .navbar {
	background-color: 	#ADD8E6;
}

#nav-container {
	padding-top: 0;
	padding-bottom: 0;
}

#logo {
	width: 75px;
	border-radius: 20%;
}

.navbar-brand {
	padding: 0;
	color: rgb(0, 0, 0);
}

.navbar-brand:hover {
	color: rgb(0, 0, 0);
}

#navbar-links a {
	color: rgb(0, 0, 0);
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
	padding: 0px;
}

#mainSlider .carousel-inner, #mianSlider .carousel-item {
	height: 100vh;
}

#mainSlider .carousel-capition {
	top: 30%;
}

#mainSlider .carousel-capition h2 {
	font-size: 50px;
	margin-bottom: 30px;
}

#mainSlider .carousel-capition p {
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 200px;
	color: black;
}

.main-btn {
	background-color: blue;
	color: black;
	text-transform: uppercase;
	width: 200px;
	height: 60px;
	padding: 10px 20px;
	border-radius: 30px;
	border: 3px solid transparent;
	transition: .5s;
}

.main-btn:hover {
	text-decoration: none;
	color: black;
	background-color: transparent;
	border-color: aqua;
}

.carousel-indicators .active{
	background-color: blue;
}