/*Trabalho*/

 #apply-area{
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
    margin-top: 110px;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px;
}

#company-img {
    background-image: url(../img/sobreNos/gatito.png);
    background-size: cover;
    height: 100%;
}

#patern-img h4 , #patern-img p{
    color:  #000706;
}

#patern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#patern-img p {
    margin-bottom: 20px;
}

#apply-btn{
    color: #000706;
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: white;
}

#apply-btn:hover {
    border-color:  #0c7e7e;
}

#apply-area{
    background-color: #bfac8b;
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Cards*/

.primeiro {
   margin-left: 20px;
}

.cards2 {
   margin-right: 2%;
}

.main-title {
   margin: 0 0 65px 0;
   font-size: 30px;
   text-align: center;
}

.card-body {
   text-align: center;
   background-color:  #bfac8b;
}

.card-text, .card-title {
   color: rgb(0, 0, 0);
}

.main-btn2 {
   background-color: rgb(200, 200, 236);
   color: rgb(0, 0, 0);
   transition: .5s;
}

.main-btn2 .card-body:hover {
   text-decoration: none;
   background-color: transparent;
}

.project-box .img-fluid {
   border-radius: 10px;
}

/*botao*/

.main-btn {
   background-color: rgb(200, 200, 236);
   color: black;
   text-transform: uppercase;
   width: 120px;
   height: 50px;
   padding: 5px 15px;
   border-radius: 30px;
   border: 3px solid transparent;
   transition: .5s;
}

.main-btn:hover {
   text-decoration: none;
   color: black;
   background-color: transparent;
   border-color:  rgb(200, 200, 236);
}

#apply-btn{
   color: rgb(0, 0, 0);
   display: block;
   height: auto;
   width: 180px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   background-color: transparent;
   border-color: white;
}

#apply-btn:hover {
   border-color: #0c7e7e;
}